# AirBnB NY Locations Data Case Study

Your task will be to take the data provided and find evidence to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

This is to simulate what you will face when you are out in the wild. 

Happy Coding!

In [114]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [120]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()
air_bnb['last_review'] = pd.to_datetime(air_bnb['last_review']) #Setting the last_review column to a datetime type

In [13]:
# How many neighborhood groups are available and which shows up the most?
air_bnb.neighbourhood_group.unique() # 5
air_bnb.groupby('neighbourhood_group').neighbourhood_group.count() # Manhattan

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [30]:
# Are private rooms the most popular in manhattan? Nah. It's Entire home/apt
manhattan_query = air_bnb.query("neighbourhood_group == 'Manhattan'")
manhattan_query.room_type.value_counts()

Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64

In [47]:
# Which hosts are the busiest and based on their reviews? Michael getting big checks.
by_host = air_bnb.groupby('host_name').count()
by_host.sort_values(by=['number_of_reviews'], ascending=False).head(5)

,id,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,,,,,,
Michael,417,417,417,417,417,417,417,417,417,417,417,335,335,417,417
David,403,403,403,403,403,403,403,403,403,403,403,309,309,403,403
Sonder (NYC),327,327,327,327,327,327,327,327,327,327,327,207,207,327,327
John,294,294,294,294,294,294,294,294,294,294,294,250,250,294,294
Alex,279,279,279,279,279,279,279,279,279,279,279,229,229,279,279

In [54]:
#Which neighorhood group has the highest average price? Manhattan
neighbor = air_bnb.groupby('neighbourhood_group').mean()
neighbor['price']

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

In [70]:
# Which neighbor hood group has the highest total price? Manhattan with $4,264,527
# air_bnb.sort_values(by=['price'], ascending=False)
neighborhood_total = air_bnb.groupby('neighbourhood_group').sum()
neighborhood_total['price']

neighbourhood_group
Bronx              95459
Brooklyn         2500600
Manhattan        4264527
Queens            563867
Staten Island      42825
Name: price, dtype: int64

In [74]:
#Which 5 hosts have the highest total price?
host_total_price = air_bnb.groupby('host_name').sum()
host_total_price.sort_values(by=['price'], ascending=False).head(5)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_name,,,,,,,,,,
Sonder (NYC),10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
Blueground,7210036953,24924786136,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
Michael,7430617239,22673153604,16984.89137,-30841.28573,66895,4600,11081,475.82,1043,38888
David,7943862898,28633613354,16414.34392,-29804.53757,65844,3754,8103,508.61,907,44171
Alex,5496620312,19850092761,11361.10533,-20635.86235,52563,1651,6204,443.44,475,30031

In [87]:
# Who currently has no (zero) availability with a review count of 100 or more?
no_availability = air_bnb.loc[air_bnb['availability_365'] == 0]
no_availability.loc[no_availability['number_of_reviews'] >= 100] # < All of those people

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [109]:
# What host has the highest total of prices and where are they located?
host_and_where = air_bnb.groupby(['host_name', 'neighbourhood_group']).sum()
host_and_where.sort_values(by=['price'], ascending=False).head(5)

,,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,total_price
host_name,neighbourhood_group,,,,,,,,,,,
Sonder (NYC),Manhattan,10885561678,71782340547,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588,82795
Blueground,Manhattan,7142993903,24709917290,9370.18553,-17018.18255,69741,7410,29,6.04,53360,58347,69741
Michael,Manhattan,3752281462,11887197922,8641.23026,-15683.53955,42093,3510,6036,258.41,756,21011,42093
David,Manhattan,3985751906,14502966311,8234.56426,-14942.79926,40366,2301,3983,236.32,558,22461,40366
Kara,Manhattan,1830785194,4212479709,5501.79014,-9988.23695,35828,3814,160,7.68,14669,38470,35828

In [121]:
# When did Danielle from Queens last receive a review? # July 8th, 2019
the_danielles = air_bnb.loc[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]
the_danielles['last_review'].max()

Timestamp('2019-07-08 00:00:00')

## Further Questions

1. Which host has the most listings?

In [155]:
#Sonder in Manhattan has the most with 327
host_list_sums = air_bnb.groupby(['host_name', 'neighbourhood_group']).count()
host_list_sums.sort_values(by=['calculated_host_listings_count'], ascending=False).head()

host_name                 neighbourhood_group
(Ari) HENRY LEE           Manhattan              1
(Email hidden by Airbnb)  Brooklyn               2
                          Manhattan              6
(Mary) Haiy               Brooklyn               1
-TheQueensCornerLot       Queens                 1
                                                ..
빈나                        Manhattan              1
소정                        Brooklyn               1
                          Manhattan              1
진                         Manhattan              1
현선                        Manhattan              1
Name: calculated_host_listings_count, Length: 15343, dtype: int64

2. How many listings have completely open availability?

In [134]:
air_bnb

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --